[Unit]
Description=qsource3-mqtt Service
After=multi-user.target

[Service]
Type=idle
User=jasik
ExecStart=/usr/bin/python3 /home/jasik/qsource3-mqtt/qsource3_mqtt_main.py /home/jasik/qsource3-mqtt/config.yaml
Restart=always

[Install]
WantedBy=multi-user.target
