[Unit]
Description=QSource3-MQTT Service
After=network.target
[Service]
User=root   
Group=lqit
WorkingDirectory=/opt/lqit/qsource3-mqtt
ExecStart=/opt/lqit/qsource3-mqtt/venv/bin/python /opt/lqit/qsource3-mqtt/qsource3_mqtt.py /opt/lqit/qsource3-mqtt/config.yaml
Restart=on-failure
[Install]
WantedBy=multi-user.target